{% comment %}
  Filter Custom From Liquid Start
{% endcomment %}
<div id="filterTopHdCollection">
  <form id="formFilterTopButton">
     <div class="custom-collection-product-type-filter">
          <div class="page-width">
            <div id="layerOne" class="dekbedovertrekken">
              <div class="custom-collection-product-type-filter-wrapper">
                 <h3 class="collection-title-custom">A heading Title</h3>
                 <ul class="custom-collection-product-type-filter-list">
                    <li>
                      <label>
                         <img src="">
                        <input type="chekbox" value="1-Persoons">
                        <span>1-Persoons (140x200) </span>
                      </label>
                   </li>
                   <li>
                      <label>
                        <img src="">
                        <input type="chekbox" value="2-Persoons">
                        <span> 2-Persoons (200x200) </span>
                      </label>
                   </li>
                    <li>
                      <label>
                          <img src="">
                          <input type="chekbox" value="Lits-Jumeaux">
                          <span> Lits-Jumeaux (240x220) </span>
                      </label>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </form>
</div>

{% comment %}
  Filter Custom From Liquid End
{% endcomment %}
